[submodule "whisk"]
	path = whisk
	url = git@github.com:ruaine83/whisk.git
[submodule "layers/pyrex"]
	path = layers/pyrex
	url = git@github.com:ruaine83/pyrex.git
[submodule "layers/scarthgap/meta-secure-core"]
	path = layers/scarthgap/meta-secure-core
	url = git@github.com:ruaine83/meta-secure-core.git
